.product__card {
    &-name {
        color: #7A7A7A;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
    }
}