.product__add-to-cart {
    display: inline-flex;
    border: 0;
    padding: .6rem;
    background: #000;
    color: #FFF;
    border-radius: 5px;
    width: 125px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 12px;
    cursor: pointer;

}