.header {
    width: 100vw;
    padding: 1rem 0;

    &__container {
        max-width: 1248px;
        margin: 0 auto;

        @media(min-width: 1024px) {
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
    }

    &__open-button {
        display: none;
    }

}